.candy{
    margin-top: 5%;
    display:grid;
    grid-template-columns:50% 50%;
}
.form button{
    width: 30%;
    margin-left: 35%;
    background-color: rgb(80, 43, 245);
}
.form button:hover{
    background-color: rgb(80, 2, 26);
}